<tr>
  <th scope="row"><%= post.id %></th>
  <td><%= post.overtime_request %></th>
  <td><%= post.date %></th>
  <td><%= post.user.full_name %></th>
  <td><%= link_to(truncate(post.rationale),post) %></td>
  <td><%= status_label(post.status)%></td>
  <td>
    <%= link_to('', edit_post_path(post), id: "edit_#{post.id}",
                class: 'fa fa-pencil text-warning') if policy(post).update? %>
  </td>
  <td>
    <%= link_to('', post_path(post),
                method: :delete, id: "delete_post_#{post.id}_from_index",
                class: 'fa fa-trash text-danger',
                data: { confirm: 'Are you sure?' }) %>
  </td>
</tr>
