<tr>
  <th scope="row"><%= post.id %></th>
  <td><%= post.date %></th>
  <td><%= post.user.full_name %></th>
  <td><%= truncate(post.rationale) %></td>
  <td>
    <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
  </td>
</tr>
